body {
font-family: Georgia, serif;
font-size: 100%;
line-height: 175%;
margin: 0 15%;
background-color: #d2dc9d;
/* background-image: url(images/bullseye.png);
background-position: center 200px; */
background-image: url(download.png);
background-repeat: no-repeat;
background-position: center top;
}