body {
	font-family: arial;
	font-size: 20px;
	background-image: url(bailab/image/yasuo.gif);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed; 
}

#manchinh{
	/*background-color: white;*/
	width: 100%;
	height: auto;
	margin: 0  auto;
}
#header{
	border-bottom: 1px solid;
	padding: 10px 0px;
}

.clearfix{
	clear: both;
}
ul li{
	list-style: none;
}
ul.menu li{
	float: left;
}
.logo{
	display: inline-block;
	height: 90px;
}
.logo img{
	opacity: 0.7;
	height: 100%;
	width: auto;
}
.menu{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height:8vh;
	background-image: linear-gradient(to left, #fa709a, #fee140);
	font-family: 'Poppins', sans-serif;
}
ul.menu{
	float: right;
}
ul.menu li a{
	padding: 15px  40px;
	color: black;
	margin: 0  auto;
}
h1{
	border: 5px solid ;
	background: white;
	opacity: 0.7;
}
ul.menu li a:hover{
	color: orange;
}
h2{
	background: white;
	opacity: 0.7;
}
.thongtin{
	display: inline-flex;
}
ul li a img{
	padding: 10px 20px;
	height: 40px;
	width: 50px;
}

@media screen and (max-width: 988px)
{
	body{
		font-size: 18px;
	}
	ul.menu li a{
	padding: 10%  10px;
	color: black;
	margin: 0  auto;
	}
}
@media screen and (max-width: 700px)
{
	body{
		font-size: 15px;
	}
	ul.menu li a{
	padding: 10%  10px;
	color: black;
	margin: 0  auto;
	}
}