body {
background-color: #d2dc9d;
background-image: url("");
}
#header {
background-color: rgba(255,255,255,.5);
}
a:link {
color: #939;
}
a:visited {
color: #937393;
}
a:focus {
background-color: #fff;
color: #c700f2;
}
a:hover {
background-color: #fff;
color: #c700f2;
}
a:active {
background-color: #fff;
color: #f0f;
}
h1 {
color: #939;
}
h2 {
www.it-ebooks.info572 Appendix A
color: #c60;
}