body{background-color: lightblue;
			font-size: 15px;
			font-family: aria;
		}
		h2{
			color: orange ;
			background: lightgreen;
			<b>;
		}
		h1{
			text-align: center;
			color: orange ;
			background: lightgreen;
		}
		ul li {
			list-style: none;
			}
		ul li a{
			color: black;
		}
		p{
			text-align: center;
		}
		