
		h2{
			color: orange ;
			background: lightgreen;
			<b>;
		}
		h1{
			text-align: center;
			color: orange ;
			background: lightgreen;
		}
		ul li {
			list-style: none;
			}
		
		p{
			text-align: center;
		}
a {
	background-color: #98FB98;
	font-size: 35px;
	color: black;
}
body {	 	
	background-color:#34495e;
	font-size: 20px;
	margin: 0 auto;
	font-family: aria;
		}
#nen{
	margin-top: auto;
	width: 900px;
	height: auto;
	background-size: 100%;
	background-image: url(https://images.pexels.com/photos/1097456/pexels-photo-1097456.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
	margin: 0 auto;
}