body{
	background-color: lightblue;
			font-size: 20px;
			font-family: aria;
		}
		h2{
			color: orange ;
			background: lightgreen;
			<b>;
		}
		h1{
			text-align: center;
			color: orange ;
			background: lightgreen;
		}
		ul li {
			list-style: none;
			}
		ul li a{
			background-color:#34495e; 
			color: white;
		}
		p{
			text-align: center;
		}
		body {
	 		background-color:#34495e;
	 		background-size: 1280px 600px;
	 		background-image: url(pexels-photo-1473215.jpeg);
		}